@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito+Sans&family=Playfair+Display:wght@700&family=Red+Hat+Display:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

.girl {
    margin-top: 30px;
    width: 100%;
}

.icon {
    padding-left: 160px;
    padding-top: 36px;
}

.ul_clas {
    display: flex;
    gap: 75px;
    padding-top: 36px;
}

.text_nav {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 139%;
    letter-spacing: 0.02em;
    color: #E5A985;
    margin-bottom: 40px;
}

.texts {
    margin-left: 100px;
}

.text_nav_2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 171%;
    letter-spacing: 0.02em;
    color: #4A4747;
    margin-bottom: 65px;
}

.button {
    display: flex;
}

.input {
    position: absolute;
    width: 465px;
    height: 58px;
    left: 640px;
    top: 680px;
    background: #E5E5E5;
    border-radius: 8px 0px 0px 8px;
    border: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 135.5%;
    color: #C4C4C4;
    padding: 15px 384px 16px 30px;
    margin-top: 67px;
}

.btn {
    margin-top: 67px;
    position: absolute;
    width: 160px;
    height: 58px;
    left: 1120px;
    color: #FFFFFF;
    top: 680px;
    background: #91916C;
    border-radius: 0px 8px 8px 0px;
    border: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 135.5%;
}

.sction1_text {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    line-height: 139%;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #65653E;
    margin-top: 100px;
}

.section1 {
    margin-top: -10px;
    background-color: #E1E1C2;
    background-repeat: no-repeat;
}

.same {
    display: flex;
    align-items: center;
}

.same button {
    background: #E5A985;
    border-radius: 29px;
    transform: rotate(-180deg);
    border: none;
    padding: 5px 10px;
}


.text2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 139%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #333333;
    margin-top: 50px;
}

.img-6 {
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.text3 {
    margin-bottom: 80px;
    margin-top: 202px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 139%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #E5A985;
}

.card1 {
    background: #FAE3D8;
    border-radius: 20px;
    background-repeat: no-repeat;
    padding: 1px 1px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.card1 h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 10px;
}

.card2 h2 {
    margin-top: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: -30px;
    padding-bottom: 35px;
}

.img_card {
    width: 100%;
}

.card2 {
    margin-top: -51px;
    border-radius: 20px;
    background: #91916C;
    box-shadow: 10px 10px 35px 2px rgba(89, 56, 14, 0.1);
}

.img_card2 {
    width: 119%;
    margin-left: -30px;
    margin-top: -30px;

}

.section3 {
    background: #FFEFE7;
}

.text4 {
    padding-top: 210px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 139%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #795744;
}

.this {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.this p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 171.5%;
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 20px;
}
.this img{
    margin-bottom: 20px;
}